header {
	background-color: #f6fbff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	width: 100%;
	z-index: 2;
	box-shadow: 0 2px 4px rgba(50, 123, 152, 0.14);
}
.logo {
    transition: opacity .3s;
}
.logo:hover{
    opacity: 0.7;
}
.user-options {
    display: flex;
    align-items: center;
    padding-right: 31px;
}

.search-bar {
    position: relative;
}

.search-bar__input {
    height: 37px;
    width: 343px;
    border-radius: 10px;
    border: none;
    background-color: rgba(171, 171, 171, 0.1);
    padding: 5px 5px 5px 30px;
    color: #1f3b51;
    font-size: 17px;
    letter-spacing: -0.41px;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__input::placeholder {
    color: rgba(60, 60, 67, 0.6);
}

.search-bar__img {
    display: block;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.username{
	font-size: 20px;
	letter-spacing: -1px;
	color: #1f3b51;
	margin-left: 4px;
	margin: 0 30px;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.username:hover{
	opacity: .8;
}

.username__img{
	margin-right: 6px;
    display: block;
    width: 18px;
    height: 20px;

}
	
.logout {
    text-decoration: none;
    color: #0091ff;
    font-size: 20px;
    letter-spacing: -1px;
}

.logout:hover {
    opacity: 0.7;
}